<p></p>
<p></p>
<h3>Bienvenu dans notre site web </h3>
<h5>  cette application permettra la mise en contact à distance entre deux parties qui sont un client et prestataire de service.</h5>
<h5>     Le client peut faire une consultation à distance vidéo/messages  en passant par une réservation.</h5>
<h5>definition des acteurs : </h5>
<h5>Expert : prestataire de service dans n’importe quel domaine d’expertise.</h5>
<h5>Client : sollicitant un rendez vous chez un expert.</h5>
<h5> les domaines d'expertise trouver sont :</h5>
<h5>[IOT,FINANCE,ECONOMIE,..etc ..]</h5>
